.page-not-found {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 80%;
        max-width: 800px;
    }

    .btnRedirect {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20%;
    }
}
